$primary: #2862e9;
$bg: #0a0a0a;
$text: #fff;

$state-error: #d30000;
$state-correct: #1abb32;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,300&display=swap");
